#results .table {
  width: 20%;
  height: 500px;
}

tr.pointer:focus, tr.pointer:hover, button.pointer:focus, button.pointer:hover {
  color: #555;
  text-decoration: none;
  background-color: #bcd7f5;
  cursor: pointer;
}

#notificationDetail .modal-dialog  {width:75%;}
