<div class="container">

  <div>
    <h1>{{title}}</h1>
  </div>

  <div>
    <h5>Notification bead: </h5>{{notificationBead?.operational?.informationItem?.informationValue}}<br>
    <h5>Sender bead: </h5>{{senderBead?.operational?.informationItem?.informationValue}}<br>
    <h5>Subject bead: </h5>{{subjectBead?.operational?.informationItem?.informationValue}}<br>
    <h5>App bead: </h5>{{appBead?.operational?.informationItem?.informationValue}}<br>
    <h5>Location bead: </h5>{{locationBead?.operational?.informationItem?.informationValue}}<br>
    <h5>Alert bead: </h5>{{alertBead?.operational?.informationItem?.informationValue}}<br>
  </div>

</div>
