<div>
  <h1>{{title}}</h1>
</div>

<div class="col-md-12" style="min-height:50px;max-height: 250px; overflow-y: scroll;">
  <div *ngIf="selectedUserObject != null">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Sender</th>
        <th>Sender Rank</th>
        <th>Subject</th>
        <th>Subject Rank</th>
        <th>App</th>
        <th>App Rank</th>
      </tr>
      </thead>
      <tbody>
      <tr class="pointer" *ngFor="let notification of selectedUserObject.notifications;" (click)="notificationSelected(notification);"
          [ngClass]="{ 'selected': notification?.active }">
        <td>{{notification?.id}}</td>
        <td>{{notification?.date}}</td>
        <td>{{notification?.sender}}</td>
        <td>{{notification?.senderRank}}</td>
        <td class="tool" data-html="true" data-toggle="tooltip" data-placement="right"
            title="Dataset: {{notification?.subject?.dataset}} <br> Ground truth: {{notification?.subject?.ground_truth}}">{{notification?.subject?.subject}}</td>
        <td>{{notification?.subjectRank}}</td>
        <td data-toggle="tooltip" data-placement="right"
            title="Category: {{notification?.app?.category}}">{{notification?.app?.name}}</td>
        <td>{{notification?.appRank}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
