
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #bcd7f5;
}

.selected {
  background-color: #96ccf5 !important;
}

.tooltip-inner {
  white-space:pre-wrap;
}

.tool + .tooltip > .tooltip-inner {
  background-color: #73AD21;
  color: #FFFFFF;
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

.tool + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}

tr.pointer:focus, tr.pointer:hover, button.pointer:focus, button.pointer:hover {
  color: #555;
  text-decoration: none;
  background-color: #bcd7f5;
}

.selected {
  background-color: #96ccf5 !important;
}

input {display: block !important; padding: 0 !important; margin: 0 !important; border: 0 !important; width: 100% !important; border-radius: 0 !important; line-height: 1 !important;}
#variable td {margin: 0 !important; padding: 0 !important;}
